<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
      <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
      defer>
      </script>
      <script src="https://cdn.auth0.com/js/lock/12.4.0/lock.min.js" defer></script>
      <script src="../static/js/auth-pop-up.js" defer></script>
  </head>
  <body>
    <h1>Welcome !</h1>
    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    <h1 id="profileDropDown">Welcome Guest</h1>
    <button id="authorize">Log in</button>
  </body>
</html>
